@{
    ViewData["Title"] = "Home Page";
}

<h1>Multiple File Upload using Vue.JS & Axios</h1>
<hr />
<div id="fileUploadApp">
    <form>
        <input type="file" @@change="fileChange($event.target.files)" />
        <button @@click="startUpload()"></button>
    </form>
</div>

@section Scripts
{
    <script src="~/js/app.build.js"></script>
}
